.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.userInput{
  height: 150px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInput input{
  height: 40px;
  width: 90%;
  max-width: 600px;
  font-size: 18px;
  margin: 10px;
  padding: 8px;
}

input:focus{
  outline: none;
}

.output-container{
  height: 65px;
  width: 100%;
  max-width: 620px;
  margin: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #132C33;
  border-radius: 0.3rem;
}

.shortUrl{
  height: 30px;
  width: 90%;
  max-width: 600px;
  background-color: #132C33;
  color:snow;
  margin: auto;
  margin: 0px 10px auto 5px;
  font-size: 20px;
  text-align: center;
  padding: 20px 0px 15px 0px;
}

.copyClipboard:hover{
  cursor: pointer;
}

textarea{
  resize: none;
  border: none;
}

textarea:focus{
  outline: none;
}

.copy-feedback{
  /* color: darkgreen; */
  padding-left: 5px;
  color: #80ED99;
  font-size: 20px;
}